:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: light-dark(rgba(255, 255, 255, 0.87), rgba(51, 51, 51, 0.87));

  --background-color: light-dark(#d6d6d6ff, #1a1a1a);
  --background-gradient-ellipse-1: light-dark(#64d3e621, #e6646522);
  --background-gradient-ellipse-2: light-dark(#64e6e633, #e6646533);
  --background-gradient-circle-1: light-dark(#8b0c9f33, #4d9f0c33);
  --background-gradient-ellipse-3: light-dark(#64e6c822, #e6646522);

  background:
    radial-gradient(
      ellipse at 33%,
      var(--background-gradient-ellipse-1),
      transparent
    ),
    radial-gradient(
      ellipse at 33% 100%,
      var(--background-gradient-ellipse-2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 100% 50%,
      var(--background-gradient-circle-1),
      transparent 50%
    ),
    radial-gradient(
        ellipse at center,
        var(--background-color),
        var(--background-color)
      )
      fixed;
}

/* Reset the box-model */
html,
body {
  box-sizing: border-box;
}

/* Pass down the box-sizing property */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0 24px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
